<meta charset="UTF-8">
<title>Aplikasi Orderan Mobil</title>
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body {
        padding-top : 50px;
    }

    table{
        width: 100%;
    }

    table > thead > tr > th {
        /* #000000 = color code (hexa code) */
        border: 1px solid #000000;
    }

    table > tbody > tr > td {
        /* black = color name */
        border: 1px solid black;
    }
</style>